/* CSS Modules 在编写的时候，和普通CSS编写方式完全一致 */
.profile {
  color: blue;
}

/*
  假设在组件中导入的样式对象为 styles，
  那么如果命名为小驼峰「 如 .profile .userName 」，则可以通过 styles.userName 来访问这个类名
  如果命名为中划线「 如 .profile .user-name 」，则需要通过 styles['user-name'] 来访问这个类名

  因此为了方便使用，多单词的类名推荐使用小驼峰命名法，而不是中划线命名法
*/
.profile .user-name {
  color: red;
}

.content {
  color: orange;
}

#footer {
  color: green;
}